.customLoader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: none;
}

.customLoader img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.customTableSort thead th {
    cursor: pointer;
}

.searchFormHeader {
    cursor: pointer;
}

.searchForm {
    display: none;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid #ccc;
}

.avatar-form {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 3px solid #ccc;
}